FaLP/LispIDE.lnk
FaLP/SWI-Prolog.lnk
FaLP/clisp-2.49
АрхитектураРП
Visual.p2/Qt Creator 4.9.1 (Enterprise).lnk
Visual.p2/Prakt1/build-simpleCalculator-Desktop_Qt_5_12_4_MinGW_64_bit-unknown
Visual.p2\Prakt2-3\build-QSourceHighlite-Desktop_Qt_5_12_4_MinGW_64_bit-Debug
*o
*exe
РосТРПО
FaLP/Лекции/Видеозаписи лекций/Лекция 1 (01.09.2025).mp4
Операционные системы/Лекции/Лекция 1 (01.09.2025).mp4
